/*
 * Thanks to Ryan at Morr SitePoint.com
 */

.row
, .column {
	box-sizing: border-box;
}

.row:before
, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	position: relative;
	float: left;
}

.column + .column {
	margin-left: 1.6%;
}

/*
 * Widths
 */
@media screen and (max-width: 480px) {

	.column-small-12 + .column[class*="column-small-"]
	, .column[class*="column-small-"] + .column-small-12 {
		margin-left: 0;
	}


	.column-small-1 {
		width: 6.86666666667%;
	}
	.column-small-2 {
		width: 15.33333333333%;
	}
	.column-small-3 {
		width: 23.8%;
	}
	.column-small-4 {
		width: 32.26666666667%;
	}
	.column-small-5 {
		width: 40.73333333333%;
	}
	.column-small-6 {
		width: 49.2%;
	}
	.column-small-7 {
		width: 57.6666666667%;
	}
	.column-small-8 {
		width: 66.1333333333%;
	}
	.column-small-9 {
		width: 74.6%;
	}
	.column-small-10 {
		width: 83.06666666667%;
	}
	.column-small-11 {
		width: 91.53333333333%;
	}
	.column-small-12 {
		width: 100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 990px) {
	
	.column[class*="column-small-"]:not([class*="column-mid-"]) {
		width: 100%;
	}
	.column[class*="column-small-"]:not([class*="column-mid-"]) 
	+ .column[class*="column-small-"]:not([class*="column-mid-"]) {
		margin-left: 0;
	}

	.column-mid-12 + .column[class*="column-mid-"]
	, .column[class*="column-mid-"] + .column-mid-12 {
		margin-left: 0;
	}
	
	.column-mid-1 {
		width: 6.86666666667%;
	}
	.column-mid-2 {
		width: 15.33333333333%;
	}
	.column-mid-3 {
		width: 23.8%;
	}
	.column-mid-4 {
		width: 32.26666666667%;
	}
	.column-mid-5 {
		width: 40.73333333333%;
	}
	.column-mid-6 {
		width: 49.2%;
	}
	.column-mid-7 {
		width: 57.6666666667%;
	}
	.column-mid-8 {
		width: 66.1333333333%;
	}
	.column-mid-9 {
		width: 74.6%;
	}
	.column-mid-10 {
		width: 83.06666666667%;
	}
	.column-mid-11 {
		width: 91.53333333333%;
	}
	.column-mid-12 {
		width: 100%;
	}
}

@media screen and (min-width: 991px) {
	.column[class*="column-small-"]:not([class*="column-large-"])
	, .column[class*="column-mid-"]:not([class*="column-large-"]) {
		width: 100%;
	}
	.column[class*="column-small-"]:not([class*="column-large-"]) 
		+ .column[class*="column-small-"]:not([class*="column-large-"])
	, 
	.column[class*="column-mid-"]:not([class*="column-large-"]) 
		+	.column[class*="column-mid-"]:not([class*="column-large-"]) {
		margin-left: 0;
	}

	.column-large-12 + .column[class*="column-large-"]
	, .column[class*="column-large-"] + .column-large-12 {
		margin-left: 0;
	}

	.column-large-1 {
		width: 6.86666666667%;
	}
	.column-large-2 {
		width: 15.33333333333%;
	}
	.column-large-3 {
		width: 23.8%;
	}
	.column-large-4 {
		width: 32.26666666667%;
	}
	.column-large-5 {
		width: 40.73333333333%;
	}
	.column-large-6 {
		width: 49.2%;
	}
	.column-large-7 {
		width: 57.6666666667%;
	}
	.column-large-8 {
		width: 66.1333333333%;
	}
	.column-large-9 {
		width: 74.6%;
	}
	.column-large-10 {
		width: 83.06666666667%;
	}
	.column-large-11 {
		width: 91.53333333333%;
	}
	.column-large-12 {
		width: 100%;
	}
}


/*
 * Styling
 * */
.row {
	background-color: #eee;
	padding: 5px;
}
.column {
	background-color: #444;
	min-height: 50px;
}
